@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Test page";
}

@if (@User.Identity.IsAuthenticated)
{
    <script>
        $(document).ready(function () {
            var startOfToday = moment().startOf('day').format('X');
            var end = moment().add(1, 'days').startOf('day').format('X');

            $.ajax({
                url: "/api/VideoApi/Videos?start=" + startOfToday + "&end=" + end,
                success: function (data) {
                    populateTable(data, "recent-video-table", "HH:mm:ss");
                }
            });

            $.ajax({
                url: "/api/VideoApi/Videos?start=0&end=" + startOfToday,
                success: function (data) {
                    populateTable(data, "older-video-table", "dddd Do MMMM, HH:mm:ss");
                }
            });
        });
    </script>

    <h2>Today's data</h2>

    <table id="recent-video-table" class="table">
        <tr>
            <td>Size</td>
            <td>Duration</td>
            <td>Timestamp</td>
            <td/>
        </tr>
        <tr/>
    </table>

    <h2>Older data</h2>

    <table id="older-video-table" class="table">
        <tr>
            <td>Size</td>
            <td>Duration</td>
            <td>Timestamp</td>
            <td/>
        </tr>
        <tr />
    </table>
}
