@model IEnumerable<RasPiCam.Models.Video>

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Test page";
}

<script>
    $.ajax({
        url: "/api/VideoApi/Videos",
        success: function (data) {
            alert("hello");
        }
    });
</script>

<table>
    @foreach (var video in Model)
    {
        <tr>
            <td>@video.Filename</td>
            <td>@video.Size</td>
            <td>@video.Timestamp</td>
            <td>@video.Url</td>
        </tr>
    }
</table>
