@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Test page";
}

<script>
    function drawTable(data) {
        for (var i = 0; i < data.length; i++) {
            drawRow(data[i]);
        }
    }

    function drawRow(rowData) {
        var row = $("<tr />");
        $("#video-table").append(row);
        row.append($("<td>" + "<a href=\"" + rowData.Url + "\">" + rowData.Filename + "</a>" + "</td>"));
        row.append($("<td>" + rowData.Size + "</td>"));
        row.append($("<td>" + rowData.Timestamp + "</td>"));
    }

    $(document).ready(function() {
        $.ajax({
            url: "/api/VideoApi/Videos",
            success: function (data) {
                data.sort(function(a, b) {
                    return (a["Timestamp"] > b["Timestamp"]) ? 1 : ((a["Timestamp"] < b["Timestamp"]) ? -1 : 0);
                });
                drawTable(data);
            }
        });
    });
</script>

<table id="video-table" class="table">
    <tr>
        <td>Filename</td>
        <td>Size</td>
        <td>Timestamp</td>
    </tr>
    <tr/>
</table>
