@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Test page";
}

<script>
    function drawTable(data) {
        for (var i = 0; i < data.length; i++) {
            drawRow(data[i]);
        }
    }

    function drawRow(rowData) {
        var row = $("<tr />");
        $("#video-table").append(row);
        row.append($("<td>" + rowData.Filename + "</td>"));
        row.append($("<td>" + rowData.Size + "</td>"));
        row.append($("<td>" + rowData.Timestamp + "</td>"));
        row.append($("<td>" + rowData.Url + "</td>"));
    }

    $(document).ready(function() {
        $.ajax({
            url: "/api/VideoApi/Videos",
            success: function (data) {
                drawTable(data);
            }
        });
    });
</script>

<table id="video-table">
    <tr/>
</table>
