@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Test page";
}

<script>
    function drawTable(data, tableId) {
        for (var i = 0; i < data.length; i++) {
            drawRow(data[i], tableId);
        }
    }

    function drawRow(rowData, tableId) {
        var row = $("<tr />");
        $(tableId).append(row);
        row.append($("<td>" + "<a href=\"" + rowData.Url + "\">" + rowData.Filename + "</a>" + "</td>"));
        row.append($("<td>" + rowData.Size + "</td>"));
        row.append($("<td>" + rowData.Timestamp + "</td>"));
    }

    function populateTable(data, tableId) {
        data.sort(function (a, b) {
            return (a["Timestamp"] > b["Timestamp"]) ? 1 : ((a["Timestamp"] < b["Timestamp"]) ? -1 : 0);
        });
        drawTable(data, tableId);
    }

    $(document).ready(function () {
        $.ajax({
            url: "/api/VideoApi/Videos?start=16%20January%202015&end=17%20January%202015",
            success: function (data) {
                populateTable(data, "#recent-video-table");
            }
        });
    });
</script>

<table id="recent-video-table" class="table">
    <tr>
        <td>Filename</td>
        <td>Size</td>
        <td>Timestamp</td>
    </tr>
    <tr/>
</table>

<table id="older-video-table" class="table">
    <tr>
        <td>Filename</td>
        <td>Size</td>
        <td>Timestamp</td>
    </tr>
    <tr />
</table>
