@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Site.css"/>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
